.jumbotron {
    background: #029fcf;
    color: #fff;
    border-radius: 0;
    margin-top: 50px
}

.questions {
    margin-top: 20px;
}

.card-hotel {
    flex: 200px;
    margin-top: 15px;
    margin-right: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 10px;
}
.img-hotel-card {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.title-hotel-card {
    font-size: 1.4em;
}
.hotel-description {
    height: 10em;
}
.btn-primary {
    width: 100%;
    background: #029fcf;
    border: 1px solid #049dcc;
}
.btn-primary:hover {
    background: #008ab4;
}
.btn-adress-icon {
    font-size: 0.7em;
    margin-right: 10px;
}

.max-width {
    max-width: 13.78em;
}

.footer {
    margin: 0;
    margin-top: 60px;
    background: #333;
    color: #eee;
}
.social, .contact {
    padding: 30px 0 0 15px;
}
.social a {
    color: #029fcf;
}
.politic {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}
.politic p {
    text-align: center;
    color: #bbb;
}

.title {
    margin-bottom: 30px;
    font-size: 1.7em;
}
.btn-form {
    width: 120px;
}

.card-price {
    width: 20rem;
}

.thead-dark { background: #333;}

.tab-content {
    padding-top: 20px;
}

.card-comment {
    /* width: 400px; */
    border: 2px solid #eee;
    padding: 15px;
    margin-top: 10px;
}
.name-user {
    font-size: 20px;
}
.name-user span {
    color: #aaa;
    font-size: 15px;
}
.stars {
    font-size: 15px;
    color: #f8e800;
}
.star-off {
    color: #bbb;
}

.btn-contact-modal {
    margin: 10px 0 15px 0;
}

@media screen and (max-width: 600px) {
    .btn-collapse {
        margin-bottom: 10px;
    }
}